<div class="inner-padding home-about bg-light" id="aboutus">
    <div class="container">
        <!-- Section Heading Starts -->
        <div class="section-heading">
            <h2 class="section-heading__name">About us</h2>
            <p class="section-heading__text">We offer a safe environment for children, to be themselves, to explore, to
                get positive strokes. We lead them gently so they pick up a routine and
                learn to be helpful and kind.
                <br>
                Registered with <a
                    href="https://www.careforkids.com.au/child-care/mr9g2m/rainbow-colours-family-day-care-bardia-2565">My
                    Home Your Home Family Day
                    Care</a>
            </p>
        </div>
        <!-- Section Heading Ends -->


        <!-- Tabs Starts -->
        <!-- Tab Controls / Navigation Starts -->
        <div class="nav nav-justified modern-tabs js-home-tabs home-about__tabs" role="tablist">

            {% for panel in site.data.about.panels %}
            {% assign panelAnchorTag = panel.panelHeading | split: ' ' | first %}
            <a class="nav-link modern-tabs__link {{ panel.panelColour }}" data-toggle="tab" href="#{{ panelAnchorTag }}"
                role="tab">
                <span class="{{ panel.panelIcon }} modern-tabs__icon" class=" "></span>
                {{ panel.panelHeading }}
            </a>
            {% endfor %}

        </div>
        <!-- Tab Controls / Navigation Ends -->

        <!-- Tab Content Starts -->
        <div class="tab-content bg-white modern-tabs__content">
            {% for panel in site.data.about.panels %}

            {% include liquid/setFirstPanelActive.liquid %}

            <div class="tab-pane p-lg-5 p-4 {{ active }}" id="{{ panelAnchorTag }}" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">{{panel.panelContentHeading}}</h3>
                        {{ panel.panelContent | markdownify }}
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="{{ panel.image }}" class="img-fluid d-block m-auto border-radius-effect shadow"
                            alt="{{ panel.imageAltText }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Tab Content Ends -->

        <!-- Tabs Ends -->

    </div>

    <!-- Background Shapes starts -->
    <div class="home-about__shape home-about__shape--1"></div>
    <div class="home-about__shape home-about__shape--2"></div>
    <div class="home-about__shape home-about__shape--3"></div>

</div>