<div class="inner-padding home-about bg-light" id="aboutus">
    <div class="container">
        <!-- Section Heading Starts -->
        <div class="section-heading">
            <h2 class="section-heading__name">About us</h2>
            <p class="section-heading__text">We offer a safe environment for children, to be themselves, to explore, to
                get positive strokes. We lead them gently so they pick up a routine and
                learn to be helpful and kind.
                <br>
                Registered with <a
                    href="https://www.careforkids.com.au/child-care/mr9g2m/rainbow-colours-family-day-care-bardia-2565">My
                    Home Your Home Family Day
                    Care</a>
            </p>
        </div>
        <!-- Section Heading Ends -->

        <!-- Tabs Starts -->
        <!-- Tab Controls / Navigation Starts -->
        <div class="nav nav-justified modern-tabs js-home-tabs home-about__tabs" role="tablist">

            <!-- Tab 2 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-2" data-toggle="tab" href="#AcademicFacilities"
                role="tab" aria-selected="true">
                <span class="flaticon-abc-block modern-tabs__icon"></span>
                Our Educators
            </a>
            <!-- Tab 2 Control Ends -->

            <!-- Tab 3 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-3" data-toggle="tab" href="#MusicArts" role="tab"
                aria-selected="false">
                <span class="flaticon-creativity modern-tabs__icon"></span>
                Activities
            </a>
            <!-- Tab 3 Control Ends -->

            <!-- Tab 4 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-6" data-toggle="tab" href="#DailyMeals" role="tab"
                aria-selected="false">
                <span class="flaticon-cooking modern-tabs__icon"></span>
                Food &amp; Beverage
            </a>
            <!-- Tab 4 Control Ends -->

        </div>
        <!-- Tab Controls / Navigation Ends -->

        <!-- Tab Content Starts -->
        <div class="tab-content bg-white modern-tabs__content">

            <!-- Tab content for Tab Control 2 Starts -->
            <div class="tab-pane p-lg-5 p-4 active" id="AcademicFacilities" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">Meet: Sapna Yadav</h3>
                        <p>
                            I offer a safe environment for children, to be themselves, to explore, to get positive
                            strokes.
                        </p>
                        <p> 0 to 5 yrs is an important foundation age for children. They need to feel good about
                            themselves and
                            the people they
                            are surrounded with. I lead them gently so they pick up a routine and learn to be helpful
                            and kind.
                        </p>
                        <p> I
                            also spot their strengths and encourage them in that direction. Children feel supported, and
                            then
                            they get ready for school life.</p>
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/sapnayadav.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow" alt="About our daily meals">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 2 Ends -->

            <!-- Tab content for Tab Control 3 Starts -->
            <div class="tab-pane p-lg-5 p-4" id="MusicArts" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">About our activities</h3>

                        <p>
                            At our family daycare, our kids engage in a various range of activities:
                        </p>

                        <ul>
                            <li>Painting</li>
                            <li>Yoga</li>
                            <li>Dancing</li>
                            <li>Weekly excursions (to a nearby park)</li>
                            <li>Games</li>
                        </ul>
                        <p>
                            Art and games encourage youngsters to examine creativity more deeply, think about it, and
                            discuss it. They provide a framework for faculties to build on children's observations,
                            understandings, and discussions about creativity.
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/markus-spiske-PIJwPMtzBI0-unsplash.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow"
                            alt="About our academic facilities">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 3 Ends -->

            <!-- Tab content for Tab Control 4 Starts -->
            <div class="tab-pane p-lg-5 p-4" id="DailyMeals" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">About our daily meals</h3>
                        <p>Kids will need to bring their own breakfast, lunch and afternoon tea.</p>
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/angela-mulligan-pJJcl8UJ7dg-unsplash.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow" alt="About our daily meals">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 4 Ends -->

        </div>
        <!-- Tab Content Ends -->

        <!-- Tabs Ends -->

    </div>

    <!-- Background Shapes starts -->
    <div class="home-about__shape home-about__shape--1"></div>
    <div class="home-about__shape home-about__shape--2"></div>
    <div class="home-about__shape home-about__shape--3"></div>

</div>