<div class="inner-padding home-contact" id="contact">

    <div class="container">

        <!-- Section Heading Starts -->
        <div class="section-heading">
            <h2 class="section-heading__name">Contact Us</h2>
            <p class="section-heading__text">Please feel free to fill out the form and get admission for your kids!</p>
        </div>
        <!-- Section Heading Ends -->

        <div class="row align-content-stretch">
            <div class="col-xl-5 col-sm-6">
                <div class="home-contact__details">

                    <!-- Contact Details Block 1 Starts -->
                    <div class="media home-contact__details-item">
                        <span class="flaticon-phone-call home-contact__details-icon bg-pallet-color-5"></span>
                        <div class="media-body">
                            <h4 class="home-contact__details-name">Phone</h4>
                            <div class="home-contact__details-info">
                                <a href="tel:{{site.data.settings.phoneNumber }}">{{ site.data.settings.phoneNumber
                                    }}</a> <br>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Details Block 1 Ends -->

                    <!-- Contact Details Block 2 Starts -->
                    <div class="media home-contact__details-item">
                        <span class="flaticon-email-1 home-contact__details-icon bg-pallet-color-2"></span>
                        <div class="media-body">
                            <h4 class="home-contact__details-name">Email</h4>
                            <div class="home-contact__details-info">
                                <a href="mailto:{{site.data.settings.emailAddress}}">{{ site.data.settings.emailAddress
                                    }}</a> <br>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Details Block 2 Ends -->

                    <!-- Contact Details Block 3 Starts -->
                    <div class="media home-contact__details-item">
                        <span class="flaticon-pin-1 home-contact__details-icon bg-pallet-color-6"></span>
                        <div class="media-body">
                            <h4 class="home-contact__details-name">Address</h4>
                            <div class="home-contact__details-info">
                                <p>
                                    {{ site.data.settings.address}}
                                </p>
                                <a target="_blank"
                                    href="https://www.google.com/maps/place/26+Parsons+Rd,+Bardia+NSW+2565/@-33.9763713,150.8629268,17z/data=!3m1!4b1!4m6!3m5!1s0x6b12eb59967e1f81:0x3d23bb0d0898e4!8m2!3d-33.9763758!4d150.8655017!16s%2Fg%2F11v6wp7d29?entry=ttu"
                                    class="text-pallet-color-6">View Map</a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact Details Block 3 Ends -->

                </div>

            </div>

            <div class="col-xl-7 col-sm-6">
                <!-- Contact Form Starts -->
                <div class="home-contact__form">
                    <form method="post" id="contactForm" class="needs-validation" novalidate="" data-netlify="true"
                        netlify-honeypot="bot-field">
                        <div class="form-row">
                            <div class="col-xl-6">
                                <p hidden>
                                    <label>
                                        Don't fill this out if you're human: <input name="bot-field" />
                                    </label>
                                </p>
                                <!-- Form Group Starts -->
                                <div class="form-group home-contact__form-group">
                                    <label class="home-contact__form-label" for="first_name">First Name*</label>
                                    <input type="text" class="form-control home-contact__form-control" name="first_name"
                                        id="first_name" placeholder="Enter your text here..." required="">
                                    <div class="invalid-tooltip">
                                        Please provide a valid First Name.
                                    </div>
                                </div>
                                <!-- Form Group Ends -->
                            </div>
                            <div class="col-xl-6">
                                <!-- Form Group Starts -->
                                <div class="form-group home-contact__form-group">
                                    <label class="home-contact__form-label" for="last_name">Last Name*</label>
                                    <input type="text" class="form-control home-contact__form-control" name="last_name"
                                        id="last_name" placeholder="Enter your text here..." required="">
                                    <div class="invalid-tooltip">
                                        Please provide a valid Last Name.
                                    </div>
                                </div>
                                <!-- Form Group Ends -->
                            </div>
                        </div>

                        <!-- Form Group Starts -->
                        <div class="form-group home-contact__form-group">
                            <label class="home-contact__form-label" for="phone">Phone*</label>
                            <input type="text" class="form-control home-contact__form-control" name="phone" id="phone"
                                placeholder="Enter your text here..." required="">
                            <div class="invalid-tooltip">
                                Please provide a valid Phone.
                            </div>
                        </div>
                        <!-- Form Group Ends -->

                        <!-- Form Group Starts -->
                        <div class="form-group home-contact__form-group">
                            <label class="home-contact__form-label" for="email">Email*</label>
                            <input type="text" class="form-control home-contact__form-control" name="email" id="email"
                                placeholder="Enter your text here..." required="">
                            <div class="invalid-tooltip">
                                Please provide a valid Email.
                            </div>
                        </div>
                        <!-- Form Group Ends -->

                        <!-- Form Group Starts -->
                        <div class="form-group home-contact__form-group">
                            <label class="home-contact__form-label" for="message">Message</label>
                            <textarea rows="4"
                                class="form-control home-contact__form-control home-contact__form-control--message"
                                name="message" id="message" placeholder="Enter your text here..."></textarea>
                        </div>
                        <!-- Form Group Ends -->

                        <div class="text-center text-md-right">
                            <!-- Submit Button Starts -->
                            <button type="submit"
                                class="btn btn-pallet-color-3 px-4 font-weight-bold home-contact__form-action">Enquire
                            </button>
                            <!-- Submit Button Ends -->
                        </div>
                    </form>

                </div>
                <!-- Contact Form Ends -->
            </div>
        </div>

    </div>
</div>