<div class="inner-padding home-about bg-light" id="aboutus">
    <div class="container">
        <!-- Section Heading Starts -->
        <div class="section-heading">
            <h2 class="section-heading__name">About Edukidz</h2>
            <p class="section-heading__text">Preschool or a nursery is your child's first experience away from you.
                EduKidz will be your child's fun partner and we guide your child to make the move from home to school a
                smooth one.</p>
        </div>
        <!-- Section Heading Ends -->

        <!-- Tabs Starts -->
        <!-- Tab Controls / Navigation Starts -->
        <div class="nav nav-justified modern-tabs js-home-tabs home-about__tabs" role="tablist">

            <!-- Tab 1 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-1 active" data-toggle="tab" href="#MultimediaClass"
                role="tab" aria-selected="true">
                <span class="flaticon-book modern-tabs__icon"></span>
                Academic Classes
            </a>
            <!-- Tab 1 Control Ends -->

            <!-- Tab 2 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-2" data-toggle="tab" href="#AcademicFacilities"
                role="tab" aria-selected="false">
                <span class="flaticon-abc-block modern-tabs__icon"></span>
                Our Facilities
            </a>
            <!-- Tab 2 Control Ends -->

            <!-- Tab 3 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-3" data-toggle="tab" href="#MusicArts" role="tab"
                aria-selected="false">
                <span class="flaticon-creativity modern-tabs__icon"></span>
                Art &amp; Games
            </a>
            <!-- Tab 3 Control Ends -->

            <!-- Tab 4 Control Starts -->
            <a class="nav-link modern-tabs__link bg-pallet-color-6" data-toggle="tab" href="#DailyMeals" role="tab"
                aria-selected="false">
                <span class="flaticon-cooking modern-tabs__icon"></span>
                Food &amp; Beverage
            </a>
            <!-- Tab 4 Control Ends -->

        </div>
        <!-- Tab Controls / Navigation Ends -->

        <!-- Tab Content Starts -->
        <div class="tab-content bg-white modern-tabs__content">

            <!-- Tab content for Tab Control 1 Starts -->
            <div class="tab-pane p-lg-5 p-4 active" id="MultimediaClass" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">About our multimedia classes</h3>

                        <p>
                            Our solid academic lessons assist in laying the groundwork for your child's future career.
                            Begin with the fundamentals and work your way up to more advanced courses. The following
                            courses should help your child succeed in college and beyond.
                        </p>
                        <!-- Accordian Starts -->
                        <div class="accordion accordion--skin-1" id="accordionMultimediaClasses">
                            <!-- Accoardian item 1 Starts -->
                            <div class="card">
                                <a class="card-header collapsed" id="headingSpanishClasses" role="button"
                                    href="#SpanishClasses" data-toggle="collapse" data-target="#SpanishClasses"
                                    aria-expanded="false" aria-controls="SpanishClasses">
                                    Spanish Classes
                                </a>
                                <div id="SpanishClasses" class="collapse" aria-labelledby="headingSpanishClasses"
                                    data-parent="#accordionMultimediaClasses">
                                    <div class="card-body">
                                        <p>
                                            Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas
                                            psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis
                                            eget metus auguen unc vel mauris ultricies, vest ibulum
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 1 Ends -->

                            <!-- Accoardian item 2 Starts -->
                            <div class="card">
                                <a class="card-header collapsed" id="headingMusicClasses" role="button"
                                    href="#MusicClasses" data-toggle="collapse" data-target="#MusicClasses"
                                    aria-expanded="false" aria-controls="MusicClasses">
                                    Music Classes
                                </a>
                                <div id="MusicClasses" class="collapse" aria-labelledby="headingMusicClasses"
                                    data-parent="#accordionMultimediaClasses">
                                    <div class="card-body">
                                        <p>
                                            Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas
                                            psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis
                                            eget metus auguen unc vel mauris ultricies, vest ibulum
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 2 Ends -->

                            <!-- Accoardian item 3 Starts -->
                            <div class="card">
                                <a class="card-header collapsed" id="headingNapTime" role="button" href="#NapTime"
                                    data-toggle="collapse" data-target="#NapTime" aria-expanded="false"
                                    aria-controls="NapTime">
                                    Nap Time
                                </a>
                                <div id="NapTime" class="collapse" aria-labelledby="headingNapTime"
                                    data-parent="#accordionMultimediaClasses">
                                    <div class="card-body">
                                        <p>
                                            Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas
                                            psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet,
                                            consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis
                                            eget metus auguen unc vel mauris ultricies, vest ibulum
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 3 Ends -->
                        </div>
                        <!-- Accordian Ends -->
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/about2.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow"
                            alt="About our multimedia classes">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 1 Ends -->

            <!-- Tab content for Tab Control 2 Starts -->
            <div class="tab-pane p-lg-5 p-4" id="AcademicFacilities" role="tabpanel">
                <h3 class="title">About our academic facilities</h3>

                <p>
                    Our school building responds to evolving educational programs by providing a physical setting that
                    is comfortable, safe, secure, accessible, well-lit, well-ventilated, and visually beautiful. Our
                    grounds, buildings, and facilities are all in excellent condition.
                </p>
            </div>
            <!-- Tab content for Tab Control 2 Ends -->

            <!-- Tab content for Tab Control 3 Starts -->
            <div class="tab-pane p-lg-5 p-4" id="MusicArts" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">About our music and arts</h3>

                        <p>
                            Art and games encourage youngsters to examine creativity more deeply, think about it, and
                            discuss it. They provide a framework for faculties to build on children's observations,
                            understandings, and discussions about creativity.
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/markus-spiske-PIJwPMtzBI0-unsplash.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow"
                            alt="About our academic facilities">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 3 Ends -->

            <!-- Tab content for Tab Control 4 Starts -->
            <div class="tab-pane p-lg-5 p-4" id="DailyMeals" role="tabpanel">
                <div class="row">
                    <div class="col-xl-7 pr-xl-4 col-md-6">
                        <h3 class="title">About our daily meals</h3>
                        <p>Wherever feasible, we promote healthy eating and drinking options. Smart nutritional
                            decisions made during the school day can help children develop lifetime healthy eating
                            habits and reach their full potential.</p>
                        <!-- Accordian Starts -->
                        <div class="accordion accordion--skin-1" id="accordionDailyMeals">
                            <!-- Accoardian item 1 Starts -->
                            <div class="card">
                                <a class="card-header" id="headingOne" role="button" href="#Breakfast"
                                    data-toggle="collapse" data-target="#Breakfast" aria-expanded="false"
                                    aria-controls="Breakfast">
                                    Breakfast
                                </a>
                                <div id="Breakfast" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionDailyMeals">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruits
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Cheese Sandwich (Gluten Free Option Available)
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fresh Orange Juice
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Crackers
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruit Salad
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 1 Ends -->

                            <!-- Accoardian item 2 Starts -->
                            <div class="card">
                                <a class="card-header collapsed" id="headingTwo" role="button" href="#Lunch"
                                    data-toggle="collapse" data-target="#Lunch" aria-expanded="false"
                                    aria-controls="Lunch">
                                    Lunch
                                </a>
                                <div id="Lunch" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionDailyMeals">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruits
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Cheese Sandwich (Gluten Free Option Available)
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fresh Orange Juice
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Crackers
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruit Salad
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 2 Ends -->

                            <!-- Accoardian item 3 Starts -->
                            <div class="card">
                                <a class="card-header collapsed" id="headingThree" role="button" href="#Snacks"
                                    data-toggle="collapse" data-target="#Snacks" aria-expanded="false"
                                    aria-controls="Snacks">
                                    Snacks
                                </a>
                                <div id="Snacks" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionDailyMeals">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruits
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Cheese Sandwich (Gluten Free Option Available)
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fresh Orange Juice
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Crackers
                                                </div>
                                            </li>
                                            <li class="media">
                                                <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
                                                <div class="media-body">
                                                    Fruit Salad
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <!-- Accoardian item 3 Ends -->
                        </div>
                        <!-- Accordian Ends -->
                    </div>
                    <div class="col-xl-5 col-md-6 mt-3 mt-md-0">
                        <img src="assets/img/data/angela-mulligan-pJJcl8UJ7dg-unsplash.jpg"
                            class="img-fluid d-block m-auto border-radius-effect shadow" alt="About our daily meals">
                    </div>
                </div>
            </div>
            <!-- Tab content for Tab Control 4 Ends -->

        </div>
        <!-- Tab Content Ends -->

        <!-- Tabs Ends -->

    </div>

    <!-- Background Shapes starts -->
    <div class="home-about__shape home-about__shape--1"></div>
    <div class="home-about__shape home-about__shape--2"></div>
    <div class="home-about__shape home-about__shape--3"></div>

</div>