<header class="main-navbar__wrapper">
    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white main-navbar sticky-top" id="mainNavbar" aria-label="Main navigation">
        <div class="container">
            <!-- Brand or Logo Starts -->
            <a class="navbar-brand main-navbar__brand" href="/"><img src="assets/img/logo/logo.svg" width="50"
                    height="50" class="img-fluid" alt="Logo"> </a>
            <!-- Brand or Logo Ends -->

            <!-- Navigation Toggle Button Starts -->
            <button aria-label="Toggle navigation" class="navbar-toggler border-0" type="button" data-trigger="#main_nav">
                <svg class="svg-icon" width="25" height="20" viewBox="0 0 41 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path class="svg-icon__path"
                        d="M0 3.3C0 5.12254 1.47746 6.6 3.3 6.6H37.7C39.5225 6.6 41 5.12254 41 3.3C41 1.47746 39.5225 0 37.7 0H3.3C1.47746 0 0 1.47746 0 3.3Z"
                        fill="#252C53"></path>
                    <path class="svg-icon__path"
                        d="M0 16.5002C0 18.3227 1.47746 19.8002 3.3 19.8002H37.7C39.5225 19.8002 41 18.3227 41 16.5002C41 14.6777 39.5225 13.2002 37.7 13.2002H3.3C1.47746 13.2002 0 14.6777 0 16.5002Z"
                        fill="#252C53"></path>
                    <path class="svg-icon__path"
                        d="M0 29.6999C0 31.5224 1.47746 32.9999 3.3 32.9999H37.7C39.5225 32.9999 41 31.5224 41 29.6999C41 27.8774 39.5225 26.3999 37.7 26.3999H3.3C1.47746 26.3999 0 27.8774 0 29.6999Z"
                        fill="#252C53"></path>
                </svg>
            </button>
            <!-- Navigation Toggle Button Ends -->

            <div class="collapse navbar-collapse main-navbar__collapse" id="main_nav">
                <div class="offcanvas__header">
                    <a class="navbar-brand main-navbar__brand" href="/"><img src="assets/img/logo/logo.svg"
                            class="img-fluid" alt="Logo"> </a>
                    <button class="btn offcanvas__close js-btn-close float-right">×</button>
                </div>
                <!-- Nav Links Starts -->
                <ul class="navbar-nav mr-lg-auto ml-lg-5 main-navbar__nav">
                    <li class="nav-item main-navbar__nav-item">
                        <a class="nav-link main-navbar__nav-link js-scroll" href="#home">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item main-navbar__nav-item">
                        <a class="nav-link main-navbar__nav-link js-scroll" href="#aboutus">About</a>
                    </li>
                    <li class="nav-item main-navbar__nav-item">
                        <a class="nav-link main-navbar__nav-link js-scroll" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item main-navbar__nav-item">
                        <a class="nav-link main-navbar__nav-link js-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <a href="#contact"
                    class="btn btn-pallet-color-4 slide__action px-4 py-2 shadow-sm font-weight-bold js-scroll">Enquire</a>
                <!-- Nav Links Ends -->
            </div>
        </div>
        <div class="menu-overlay"></div>
    </nav>
</header>