<div class="slider-area px-xl-4 px-3 pb-xl-4 pb-3 pt-xl-0" id="home">
    <div class="js-main-slider owl-carousel owl-theme hero-owl owl-loaded owl-drag">
        <!-- First Slide Starts -->

        <!-- First Slide Ends -->

        <!-- Second Slide Starts -->

        <!-- Second Slide Ends -->
        <div class="owl-stage-outer">
            <div class="owl-stage"
                style="transform: translate3d(-4990px, 0px, 0px); transition: all 0s ease 0s; width: 14972px;">
                <div class="owl-item cloned" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">Z</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none"
                                        alt="Learn n' play with Edukidz">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">s</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
                <div class="owl-item active" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">Z</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none"
                                        alt="Learn n' play with Edukidz">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
                <div class="owl-item" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">s</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">Z</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none"
                                        alt="Learn n' play with Edukidz">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 2495.33px;">
                    <div class="hero-slide animation__style10">
                        <div class="container">
                            <div class="row align-items-md-center">
                                <div class="col-md-6">
                                    <div class="hero-slide__content">
                                        <h1 class="hero-slide__title text-uppercase">Learn n’ play with <span
                                                class="text-pallet-color-6">E</span><span
                                                class="text-pallet-color-2">d</span><span
                                                class="text-pallet-color-3">u</span><span
                                                class="text-pallet-color-4">k</span><span
                                                class="text-pallet-color-5">i</span><span
                                                class="text-pallet-color-1">d</span><span
                                                class="text-pallet-color-2">s</span></h1>
                                        <p>Let’s learn together and have fun with Edukidz. We are the best choice for
                                            your kids. Join us for your kids' bright future!</p>
                                        <a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold js-scroll"
                                            href="#contact">Contact Us</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/data/pexels-photo-3662667.jpeg"
                                        class="img-fluid rounded hero-slide__media d-md-block d-none" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="hero-slide__shape d-md-block d-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><svg version="1.1" width="25"
                    height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <path
                        d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788C492,219.198,479.172,207.418,464.344,207.418z">
                    </path>
                </svg></button><button type="button" role="presentation" class="owl-next"><svg version="1.1" width="25"
                    height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 492.004 492.004" style="enable-background:new 0 0 492.004 492.004;"
                    xml:space="preserve">
                    <path
                        d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z">
                    </path>
                </svg></button></div>
        <div class="owl-dots disabled"></div>
    </div>
</div>