<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{site.data.settings.websiteTitle }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <meta name="description" content="{{site.data.settings.websiteDescription }}">
</head>

<body>

  {% include header.html %}
  {% include hero.html %}
  <div id="content" role="main">
    {% include sections/about.html %}
    {% include gallery.html %}
    {% include sections/contact.html %}
  </div>
  {{ content }}

  {% include footer.html %}
  {% include js.html %}
</body>

</html>