<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.data.settings.websiteTitle }}</title>
  <meta name="description" content="{{site.data.settings.websiteDescription }}">
  <meta name="theme-color" content="#98479c">
  <link rel="preload" href="{{ '/assets/fonts/montserrat-latin.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/bubblegum-sans-400.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PRX7TK96YC');
  </script>
</head>

<body>
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  {% include header.html %}
  {% include hero.html %}
  <main id="content">
    {% include sections/about.html %}
    {% include sections/gallery.html %}
    {% include sections/contact.html %}
  </main>
  {% include footer.html %}
  {% include js.html %}
</body>

</html>